<%- include("partials/header1.ejs") -%>
<div id="div123">


  <form style="display:flex; width:90%; margin:0 auto;">
    <input type="text" class="form-control" name="" placeholder="Enter message here!" value="">
    <button type="" class="btn-info" name="button">Send</button>
  </form>
</div>
