<%- include('partials/header0.ejs') %>

<div class=" fluid-container site-background">
  <h3 class="fluid-container">WELCOME TO OUR SITE</h3>
  <hr>
  <h1>Find people having same goals</h1>
  <button onclick="window.location.href='/register'" type="button" class="btn btn-outline-light" name="button">Join Now</button>

</div>






  </body>


</html>
